<body id="helpBody">
  <div class="container top_elements_help">
    <h1 class="center heading">Help Page</h1>
    <p>This sites uses a Star Wars API, located at http://swapi.co/, to get its information. If you type in a number and nothing comes back, then it means that the api has no information for that number.</p>
    <p class="helpPara"> Now feel free to browse information and wonder what life would be like in that galaxy far, far away...</p>
  </div>

</body>